/* include your fonts */
@font-face {
  font-family: "ABCOracle";
  src: url("../assets/fonts/ABCOracle.woff") format("woff"),
       url("../assets/fonts/ABCOracleGRKPlusVar.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* keep this to get rid of the default styling */
* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}



/* your own styling */
.header-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 450px;
  margin-top: 10vh;
  position:absolute
}

.header-image-hastad img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.image-hastad img {
  max-width: 20%; /* Bildgröße auf 50% der Containerbreite beschränken */
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(255, 0, 0, 0.5);
}

.image-events img {
  max-width: 40%; /* Bildgröße auf 50% der Containerbreite beschränken */
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(255, 0, 0, 0.5);
}

.navigation {
  display: flex;
  gap: 110px;
  justify-content: center;
  position:absolute;
  transform: translateY(-50%);
  border-radius: 20px;
 
}
.nav-top {
  padding: 20px 30px;

}
.nav-item {
  background-color: #f0f0f0;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgba(255, 0, 0, 0.5);
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-family: "ABCOracle", sans-serif;
    font-size: x-large;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav-item a {
  color: rgb(255, 0, 0);
  text-decoration: none;
  display: block;
  padding: 10px 30px;

}

.dropdown-content {
  display: none; /* Dropdown standardmäßig ausblenden */
  position: absolute;
  background-color: #f0f0f0;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgb(255, 0, 0));
  border-radius: 30px;
  border: 2px solid rgb(255, 0, 0);
  z-index: 1;
  padding: 14px;
}

.dropdown-content a {
  display: block;
  padding: 8px 0; /* Padding für jeden Link hinzufügen */
  text-align: center; /* Links ausrichten */
}

.nav-item:hover .dropdown-content {
  display: block; 
}

.residents-list {
  padding: 10px;
}

.residents-item {
  padding: 5px 0;
}

.header-resident {
  color: rgb(255, 0, 0);
  font-family: "ABCOracle", sans-serif;
  text-align: center;
  font-style: initial;
  font-weight:900;
  font-size: large;
}

.text-resident {
    color: rgb(255, 0, 0);
    font-family: "ABCOracle", sans-serif;
    text-align: center;   
}

.hyperlink { 
  color: #ff0000; 
  text-decoration: none; 
}

.hyperlink:hover { 
  text-decoration: underline; }

  .logo-maniac {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .logo-maniac img {
    width: 100px; /* Set the desired width */
    height: auto;
    animation: spin 9s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .logo-maniac-1 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .logo-maniac-1 img {
    width: 50px; /* Set the desired width */
    height: auto;
    animation: spin 9s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .background-logo {

    opacity: 0.2; /* Starting opacity */
    animation: fade 10s ease-in-out infinite; /* Animation for opacity change */
    z-index: -1; /* Ensure it's in the background */
  }
  
 
  
  /* Keyframes for the fade animation */
  @keyframes fade {
    0% {
      opacity: 0.5;
    }
    20% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.5;
    }
  }