@font-face {
  font-family: "G2 TGR";
  src: url("fonts/G2TGR-Regular.woff2") format("woff2"),
    url("fonts/G2TGR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "G2-TGR";
  src: url("fonts/G2-TGR-RegularItalic.woff2") format("woff2"),
    url("fonts/G2-TGR-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  perspective: 2000px;
  font-family: "G2 TGR";
}

:root {
  --box-width: 100vw;
  --box-height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

.room {
  position: relative;
  width: var(--box-width);
  height: var(--box-height);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%) rotateX(0deg) rotateY(0deg);
  transform: translateY(-50%) rotateX(0deg) rotateY(0deg);
}

.wall {
  position: absolute;
  width: var(--box-width);
  height: var(--box-height);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  border: 2px solid black;
  pointer-events: none;
}

.front {
  display: none;
}

.back {
  -webkit-transform: translateZ(calc(-0.97 * var(--box-width)));
  transform: translateZ(calc(-0.97 * var(--box-width)));
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  pointer-events: all;
  outline: 2px solid black;
  outline-offset: -2px;
}

.left {
  -webkit-transform: rotateY(-90deg) translateX(calc(-1 * var(--box-width)));
  transform: rotateY(-90deg) translateX(calc(-1 * var(--box-width)));
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.left.gradient {
  background: -webkit-linear-gradient(90deg, white, black);
  background: linear-gradient(90deg, white, black);
}

.right {
  -webkit-transform: rotateY(90deg) translateX(calc(var(--box-width)));
  transform: rotateY(90deg) translateX(calc(var(--box-width)));
  -webkit-transform-origin: right center;
  transform-origin: right center;
}

.right.gradient {
  background: -webkit-linear-gradient(90deg, black, white);
  background: linear-gradient(90deg, black, white);
}

.top {
  height: var(--box-width);
  -webkit-transform: rotateX(-270deg) translateY(calc(-1 * var(--box-width)));
  transform: rotateX(-270deg) translateY(calc(-1 * var(--box-width)));
  -webkit-transform-origin: top center;
  transform-origin: top center;
}

.top.gradient {
  background: -webkit-linear-gradient(0deg, black, white);
  background: linear-gradient(0deg, black, white);
}

.bottom {
  height: var(--box-width);
  width: var(--box-width);
  bottom: 0;
  -webkit-transform: rotateX(270deg) translateY(calc(1 * var(--box-width)));
  transform: rotateX(270deg) translateY(calc(1 * var(--box-width)));
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

.bottom.gradient {
  background: -webkit-linear-gradient(0deg, white, black);
  background: linear-gradient(0deg, white, black);
}

.wall.back {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
}

.header > div {
  padding: 70px;
  cursor: pointer;
}

.course-title {
  outline: 2px solid black;
  outline-offset: -1px;
  flex-grow: 1;
}

.back-button {
  display: none;
  align-items: center;
  justify-content: center;
  width: 150px;
  outline: 2px solid black;
  outline-offset: -1px;
}

.header > div:hover {
  background-color: black;
  color: white;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.col {
  display: flex;
  align-items: center;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  text-orientation: mixed;
  outline: 2px solid black;
  outline-offset: -1px;
  flex-grow: 1;
  padding: 70px 20px;
  cursor: pointer;
}

.col:hover {
  background-color: black;
  color: white;
}

.content-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.content-course-detail {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  padding: 70px;
}

.content-detail .col {
  flex-grow: 0;
  width: 150px;
  min-width: 150px;
  background-color: black;
  color: white;
}

.content-detail .details {
  flex-grow: 1;
  padding: 70px;
}

.content-detail .link {
  position: absolute;
  bottom: 70px;
}

.open-project-secondary {
  margin-left: 30px;
  display: none;
}

.content-detail .title {
  margin-bottom: 2rem;
}

.content-detail .title-name {
  display: inline-block;
  font-size: 2.4vw;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hide {
  display: none !important;
}
