@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url('meine_schriftart.woff') format('woff');
}

body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

a{
  text-decoration: none;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  
  opacity: 0;
  pointer-events: all;
}

.section1 {
  width: 50%;
}

.right-sections {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.section2, .section3 {
  width: 100%;
  height: 50%;
}

.hover-text {
  color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

.section:hover{
  opacity: 1;
}

.section1 #text1 {
  position: absolute;
  display: block;
  top: 45%;
  left: 38%;
}

.section2 #text2 {
  position: absolute;
  display: block;
  top: 60%;
  left: 21%;
}

.section3 #text3 {
  position: absolute;
  display: block;
  top: 32%;
  right: 56%;
}


