/* include your fonts */
@font-face {
    font-family: "Clouds";
    src: url("Assets/fonts/DIN Condensed Bold.ttf") format("woff2"),
      url("Assets/fonts/DIN Condensed Bold.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  /* keep this to get rid of the default styling */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
  }

  body {
  background-color: rgb(199, 199, 199);
  font-family: monospace; 
  display: flex; 
  flex-direction: column;
  height: 100vh; 
  font-size: 15PX;
  }

  #navigation {
    margin: 10px;
    margin-top: 0px; 
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 1px;
    font-family: monospace;
    overflow: hidden; 
    background-color: rgb(199, 199, 199);
    z-index: 999; 
    width: 100%; 
    
}

#navigation a {
    color: rgb(31, 64, 70); 
    text-decoration: none;
    display: block; 
}

#navigation a:hover {
    color: red;
}

.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px; 
}

 .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        margin-top: 40px; 
      }

      /* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }  



 
  .button-katzen-wrapper {
    position: fixed;
    top: 10; 
    left: 10px; 
    right: 10px;
    bottom: 10px; 
    z-index: 999;
  }

  #hilfebutton {
    z-index: 2;
    display: flex; 
    width: 40px; 
    position: fixed;
    left: 86vw; 
    bottom: 8vw;
    animation-name: scale;
    animation-duration: 4s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes scale {
     0% { transform: scale(1.2) }
     50% { transform: scale(1.0) }
     100%  { transform: scale(1.2) }
  }
  

  #randomSpruch{
    position: fixed;
    display: none;
    left: 65vw; 
    bottom: 4vw; 
    box-sizing: content-box;
    background-color: white;
    padding: 10px; 
    text-align: left;
    width: fit-content;
    outline-color: black;
    outline-style: solid;
    outline-width: medium;
    max-width: 30vw;
    margin-right: 10px; 

  } 
 
  #katzi {
   /*display: none; /* Hidden by default */
    width: 175px; 
    display: none;
    position: fixed;
    left: 76vw; 
    bottom: 5vw; 
    animation-name: rotation;
    animation-duration: 4s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    cursor:pointer; 
    z-index: 1;
  }

  @keyframes rotation {
     0% { transform: rotate(20deg) }
     50% { transform: rotate(-20deg) }
     100%  { transform: rotate(20deg) }
  }
 
/* .syndrome1 {
    transition:transform 0.25s ease;
} */

/* .syndrome1:hover {
    -webkit-transform:scale(1.5); /* or some other value */
/*     transform:scale(1.5);
} */ 

.hilfespruch {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 60vw; 
  bottom: 2.5vw; 
  box-sizing: border-box;
  background-color: white;
  padding: 10px; 
  text-align: justify;
  width: fit-content;
  outline-color: black;
    outline-style: solid;
    outline-width: medium;
  margin-right: 5vw;
}
  

#hilfebutton:hover + .hilfespruch {
  display: block;
  color: black;
}
.thumbnail:hover {opacity: 0.8;}

 /* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 500;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
