/* Stilurile generale */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

body.night {
    background-color: black;
    color: white;
}

header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 3em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    margin: 20px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

/* Stilurile specifice pentru fiecare secțiune vor fi adăugate ulterior */

/* Stilurile pentru footer */

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

@font-face {
    font-family: 'Pixeled';
    src: url('fonts/Pixeled.ttf') format('truetype'); /* Specifică calea către fișierul TTF */
    /* Dacă este necesar, adaugă și alte formate ale fontului aici */
    font-weight: normal;
    font-style: normal;
}

/* Aplică fontul la întregul corp al paginii și la titluri */
body, h1 {
    font-family: 'Pixeled', sans-serif;
}

.gif-container {
    text-align: center; /* Afișează GIF-ul în centru */
    margin-top: 20px; /* Adaugă un spațiu între GIF și alte elemente */
}

.gif-container {
    display: inline-block; /* Afișează containerul GIF-ului și textul pe aceeași linie */
    margin-top: 50px; /* Distanța de la partea de sus a paginii */
}

/* Stilurile pentru buton */
.btn {
    display: inline-block;
    background-color: #8a2be2; /* Mov */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #7b68ee; /* Mov mai închis la hover */
}

/* Stilurile specifice pentru butoanele din această pagină */
.page-btn {
    background-color: #8a2be2; /* Mov */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.page-btn:hover {
    background-color: #7b68ee; /* Mov mai închis la hover */
}

/* Stiluri pentru linia gri */
.bottom-line {
    width: 100%;
    height: 2px;
    background-color: #ddd;
    margin-top: 50px;
}

/* Stiluri pentru toggle button */
.toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px;
}

.toggle-button input {
    display: none;
}

.toggle-button label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.toggle-button label:hover {
    background: white;
    color: black;
}
